.panel-sidebar-cart-items {
  @include list-unstyled;

  > li {
    @include clearfix;
  }

  .panel-sidebar-cart-items-total {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid $hr-border;
  }

  .item-description {
    float: left;
  }

  .item-name {
    font-weight: bold;
  }

  .item-total {
    float: right;
  }
}
