$spacer: $line-height-computed;

.m-a-0 {
  margin: 0 !important;
}

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-t-0 {
  margin-top: 0 !important;
}
.m-r-0 {
  margin-right: 0 !important;
}
.m-t-0 {
  margin-bottom: 0 !important;
}
.m-l-0 {
  margin-left: 0 !important;
}

.m-a-1 {
  margin: $spacer !important;
}

.m-x-1 {
  margin-right: $spacer !important;
  margin-left: $spacer !important;
}
.m-y-1 {
  margin-top: $spacer !important;
  margin-bottom: $spacer !important;
}

.m-t-1 {
  margin-top: $spacer !important;
}
.m-r-1 {
  margin-right: $spacer !important;
}
.m-t-1 {
  margin-bottom: $spacer !important;
}
.m-l-1 {
  margin-left: $spacer !important;
}

.p-a-0 {
  padding: 0 !important;
}

.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-t-0 {
  padding-top: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-t-0 {
  padding-bottom: 0 !important;
}
.p-l-0 {
  padding-left: 0 !important;
}

.p-a-1 {
  padding: $spacer !important;
}

.p-x-1 {
  padding-right: $spacer !important;
  padding-left: $spacer !important;
}
.p-y-1 {
  padding-top: $spacer !important;
  padding-bottom: $spacer !important;
}

.p-t-1 {
  padding-top: $spacer !important;
}
.p-r-1 {
  padding-right: $spacer !important;
}
.p-t-1 {
  padding-bottom: $spacer !important;
}
.p-l-1 {
  padding-left: $spacer !important;
}
