// Body
$body-bg: #f5f8fa !default;

// Links
$link-hover-decoration: none !default;

// Borders
$laravel-border-color: darken($body-bg, 10%) !default;
$list-group-border: $laravel-border-color !default;
$navbar-default-border: $laravel-border-color !default;
$panel-default-border: $laravel-border-color !default;
$panel-inner-border: $laravel-border-color !default;

// Brands
$brand-primary: #3097d1 !default;
$brand-info: #8eb4cb !default;
$brand-success: #2ab27b !default;
$brand-warning: #cbb956 !default;
$brand-danger: #bf5329 !default;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif !default;
$font-size-base: 14px !default;
$line-height-base: 1.6 !default;
$text-color: #636b6f !default;

// Navbar
$navbar-default-bg: #fff !default;

// Buttons
$btn-default-color: $text-color !default;

// Inputs
$input-border: lighten($text-color, 40%) !default;
$input-border-focus: lighten($brand-primary, 25%) !default;
$input-color-placeholder: lighten($text-color, 30%) !default;

// Grid system
$grid-gutter-width: 20px !default;

// Panels
$panel-default-heading-bg: #fff !default;
$panel-body-padding: 20px !default;

// Thumbnails
$thumbnail-bg: #fff !default;

// Breadcrumbs
$breadcrumb-bg: #fff !default;
$breadcrumb-separator: "\203a" !default;
